.aboutContDiv {
  position: relative;
  display: block;
  text-align: center;
  padding: 15% 10% 20%;
}
.aboutContDiv span {
  font-size: 25px;
}
.aboutContDiv p {
  padding: 25px 0 40px 0;
  font-size: 16px;
  line-height: 22px;
}
.aboutContDiv a {
  padding: 10px 25px;
  background-color: goldenrod;
  font-size: 16px;
  color: black;
  text-decoration: none;
  transition: ease-in-out 250ms;
  border: 2px solid black;
  border-radius: 25px;
  font-weight: 600;
}
.aboutContDiv a:hover {
  background-color: goldenrod;
  color: black;
  border-color: #000000;
}
.surveys {
  position: relative;
  padding: 5% 5% 15% 5%;
  color: white;
  background: #000000;
  border: 2px solid green;
}
.surveys .backgroundimageforopacityssake {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("/img/BlackTopographyBackground.jpg");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  margin: 0;
  z-index: 1;
}
.surveys h3 {
  position: relative;
  padding: 10px 0 0;
  text-align: center;
  font-size: 35px;
  letter-spacing: 1px;
  color: white;
  z-index: 2;
}
.surveys .ourServices {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  z-index: 2;
}
.surveys .ourServices div {
  flex: 0 0 95%;
  margin-bottom: 15px;
  min-height: 300px;
}
.surveys .ourServices div div {
  text-align: center;
  margin: 0;
  padding: 10px;
  color: white;
}
.surveys .ourServices div div span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 22.5px;
  line-height: 27.5px;
  padding: 5px 0;
}
.surveys .ourServices div div img {
  display: block;
  width: 100%;
  min-height: 180px;
  padding: 10px 0 20px;
}
.surveys .ourServices div div p {
  display: none;
}
.surveys .ourServices div div .learnMoreServicesLinkIn {
  display: block;
  padding: 10px 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 25px;
}
.surveys .ourServices div .learnMoreServicesLinkOut {
  display: none;
}
@media (min-width: 400px) {
  .aboutContDiv {
    padding: 20% 10% 25%;
  }
  .aboutContDiv span {
    font-size: 30px;
  }
  .aboutContDiv p {
    padding: 40px 0 60px 0;
    font-size: 18px;
    line-height: 29px;
  }
  .aboutContDiv a {
    padding: 15px 30px;
    font-size: 22.5px;
  }
  .surveys .ourServices div {
    flex: 0 0 90%;
  }
  .surveys .ourServices div div {
    padding: 15px 10px;
  }
  .surveys .ourServices div div img {
    min-height: 250px;
  }
  .surveys .ourServices div div .learnMoreServicesLinkIn {
    padding: 15px 0;
    font-size: 18px;
  }
}
@media (min-width: 576px) {
  .aboutContDiv span {
    font-size: 35px;
  }
  .aboutContDiv p {
    font-size: 22.5px;
    line-height: 32.5px;
  }
  .aboutContDiv a {
    font-size: 25px;
  }
  .surveys .ourServices div {
    flex: 0 0 80%;
    margin-bottom: 50px;
  }
  .surveys .ourServices div div {
    padding: 15px 10px;
  }
  .surveys .ourServices div div span {
    font-size: 25px;
  }
  .surveys .ourServices div div img {
    min-height: 250px;
  }
  .surveys .ourServices div div .learnMoreServicesLinkIn {
    padding: 15px 0;
    font-size: 22.5px;
  }
}
@media (min-width: 768px) {
  .aboutContDiv span {
    font-size: 35px;
  }
  .aboutContDiv p {
    font-size: 25px;
    line-height: 35px;
  }
  .aboutContDiv a {
    font-size: 27.5px;
  }
  .surveys .ourServices div {
    flex: 0 0 45%;
    margin: 0 10px 50px;
  }
  .surveys .ourServices div div {
    padding: 15px 10px;
  }
  .surveys .ourServices div div span {
    font-size: 27.5px;
    height: 90px;
    line-height: 35px;
    padding: 10px 0;
  }
  .surveys .ourServices div div img {
    height: 250px;
  }
  .surveys .ourServices div div .learnMoreServicesLinkIn {
    padding: 15px 0;
    font-size: 22.5px;
  }
}
@media (min-width: 992px) {
  .aboutContDiv {
    padding: 10% 15%;
  }
  .aboutContDiv a {
    background-color: #ffffff;
    color: grey;
    border: 2px solid grey;
  }
  .aboutContDiv a:hover {
    background-color: goldenrod;
    color: black;
    border-color: #000000;
  }
  .surveys .backgroundimageforopacityssake {
    background-attachment: fixed;
  }
  .surveys h3 {
    font-size: 30px;
  }
  .surveys .ourServices div {
    position: relative;
    flex: 0 0 30%;
    margin-bottom: 15px;
  }
  .surveys .ourServices div div {
    position: relative;
    display: block;
    transition: ease-in-out 250ms;
    z-index: 1;
  }
  .surveys .ourServices div div img {
    height: 225px;
  }
  .surveys .ourServices div div p {
    display: block;
    font-size: 16px;
    text-align: center;
  }
  .surveys .ourServices div div .learnMoreServicesLinkIn {
    display: none;
  }
  .surveys .ourServices div .learnMoreServicesLinkOut {
    display: block;
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 50%;
    background-color: #000000;
    padding: 5px 0;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 25px;
    z-index: 2;
    opacity: 0;
    transition: ease-in-out 350ms;
  }
  .surveys .ourServices div:hover div {
    transform: translateY(-45px);
  }
  .surveys .ourServices div:hover .learnMoreServicesLink {
    opacity: 1;
  }
}
@media (min-width: 1200px) {
  span {
    font-size: 30px;
  }
  p {
    font-size: 16px;
  }
  a {
    font-size: 20px;
  }
}
