.aboutHeroCont {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
  padding: 0 5%;
}
.aboutHeroCont .imageBackgroundAboutTop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-image: url(/img/surgis-rock.jpeg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(2px);
}
.aboutHeroCont .wordsAboutTop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.5);
  z-index: 2;
  padding: 50px 35px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.aboutHeroCont .wordsAboutTop h2 {
  font-size: 27.5px;
  padding: 10px 0;
  font-family: Papyrus, Geneva, Tahoma, sans-serif;
}
.aboutHeroCont .wordsAboutTop p {
  font-size: 16px;
  line-height: 26px;
}
@media (min-width: 400px) {
  .aboutHeroCont .wordsAboutTop h2 {
    font-size: 30px;
  }
  .aboutHeroCont .wordsAboutTop p {
    font-size: 17px;
    line-height: 29px;
  }
}
@media (min-width: 576px) {
  .aboutHeroCont {
    padding: 0 10%;
  }
}
@media (min-width: 768px) {
  .aboutHeroCont .wordsAboutTop h2 {
    font-size: 37.5px;
  }
  .aboutHeroCont .wordsAboutTop p {
    font-size: 19px;
  }
}
@media (min-width: 992px) {
  .aboutHeroCont .wordsAboutTop h2 {
    font-size: 43px;
  }
  .aboutHeroCont .wordsAboutTop p {
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .aboutHeroCont .wordsAboutTop h2 {
    font-size: 45px;
  }
  .aboutHeroCont .wordsAboutTop p {
    font-size: 22px;
    line-height: 34px;
  }
}
