.contactUs {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 20px 12.5% 125px;

    
    h2 {
        width: 100%;
        padding: 15px 0;
        border-bottom: 2px solid black;
    }
    .contactInfo {
        align-self: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        padding: 30px 0 0;

        ul {
            flex: 0 0 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            text-decoration: none;
            order: 2;

            li {
                font-size: 16px;
            }
            .phoneCont {
                position: relative;

                .phoneInner {
                    &:after {
                        content: "\e0cd";
                        position: absolute;
                        left: -30px;
                        top: 50%;
                        margin-top: -10px;
                        bottom: auto;
                        font-size: 20px;
                        color: black;
                        transform: rotate(-90deg);
                    }
                }
            }
            .faxCont {
                position: relative;

                .faxInner {
                    &:after {
                        content: "\e8ad";
                        position: absolute;
                        left: -30px;
                        top: 50%;
                        margin-top: -10px;
                        bottom: auto;
                        font-size: 20px;
                        color: black;
                    }
                }
            }
            .emailCont {
                position: relative;

                .emailInner {
                    &:after {
                        content: "\e0be";
                        position: absolute;
                        left: -30px;
                        top: 50%;
                        margin-top: -9px;
                        bottom: auto;
                        font-size: 20px;
                        color: black;
                    }
                }
            }
        }
        p {
            padding: 0 0 35px 0;
            font-size: 16px;
            order: 1;
        }
    }

    .findUs {
        position: absolute;
        bottom: 35px;
        left: 0;
        width: 100%;
        text-align: center;
        
        a {
            span {
                position: relative;
                color: black;
                text-align: center;
            }
            div {
                text-align: center;
                &:after {
                    content: "\e316";
                    display: block;
                    position: absolute;
                    bottom: -30px;
                    left: 50%;
                    margin-left: -17.5px;
                    transform: rotate(180deg);
                    font-size: 35px;
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .contactUs {
        padding: 50px 12.5% 115px;
    }
}
@media (min-width: 768px) {
    .contactUs {
        padding: 60px 12.5% 125px;

        .contactInfo {
            ul {
                flex: 0 0 50%;
                order: 1;

                li {
                    font-size: 20px;

                }
            }
            p {
                flex: 0 0 50%;
                font-size: 20px;
                order: 2;
            }
        }
    }
}
@media (min-width: 992px) {
    .contactUs {
        padding: 90px 12.5% 150px;
    }
}

@media (min-width: 1200px) {
    .contactUs {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 100px 12.5% 150px;
        
        h2 {
            width: 100%;
            padding: 15px 10px;
            border-bottom: 2px solid black;
        }
        .contactInfo {
            align-self: center;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: flex-start;
            padding: 30px 0 0;
    
            ul {
                flex: 0 0 50%;
                padding: 0;
                margin: 0;
                list-style: none;
                text-decoration: none;
                li {
                    font-size: 18px;
    
                    .phoneNFax {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
    
                        .phone {
                            position: relative;
    
                            &:after {
                                content: "";
                                display: inline-block;
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                width: 3px;
                                background-color: black;
                            }
                        }
                    }
                }
            }
            p {
                font-size: 18px;
            }
        }
    }
}