@import "component_css/material-icons.css";
@import "component_css/roboto.css";
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/materialicons/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/materialicons/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(/materialicons/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.woff) format('woff'), url(/materialicons/material-design-icons-3.0.1/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Segoe UI Regular'), url(/fonts/Segoe-UI.woff) format('woff');
}
* {
  font-family: 'Segoe UI Regular', Arial, sans-serif;
  padding: 0;
  margin: 0;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 50;
}
.contactBar {
  position: relative;
  padding: 2.5px 0;
  max-height: 22.5px;
  background-color: rgba(30, 30, 30, 0.8);
  overflow: hidden;
  transition: ease-in-out 350ms;
}
.contactBar div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-size: 16px;
  transition: ease-in-out 350ms;
}
.contactBar div span {
  position: relative;
  padding: 0 0 0 0;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contactBar div a {
  position: relative;
  padding: 0 0 0 0;
  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navHolder {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 60px;
  padding: 0 10px;
  transition: ease-in-out 350ms;
}
.navHolder:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: inline-block;
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0.5) 0%, rgba(50, 50, 50, 0.5) 40%, rgba(50, 50, 50, 0.5) 64%, rgba(30, 30, 30, 0.4) 90%, rgba(30, 30, 30, 0) 100%);
  z-index: 1;
  opacity: 1;
  transition: ease-in-out 350ms;
}
.navHolder:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: inline-block;
  background: linear-gradient(to bottom, rgba(50, 50, 50, 0.99) 0%, rgba(50, 50, 50, 0.99) 40%, rgba(50, 50, 50, 0.99) 64%, rgba(30, 30, 30, 0.89) 90%, rgba(30, 30, 30, 0) 100%);
  z-index: 1;
  opacity: 0;
  transition: ease-in-out 350ms;
}
.navHolder a {
  text-decoration: none;
}
.navHolder button {
  z-index: 2;
  align-self: center;
}
.navHolder div,
.navHolder ul {
  z-index: 2;
}
.navHolderSquished:before {
  opacity: 0;
}
.navHolderSquished:after {
  opacity: 1;
}
.navHolderSquishedNoLag:before {
  opacity: 0;
}
.navHolderSquishedNoLag:after {
  opacity: 1;
}
.navLogo {
  position: relative;
  padding: 0 5px 0 0;
  height: 100%;
  margin: 0;
}
.navLogo .logoBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-right: -132px;
  height: 95%;
  background: radial-gradient(ellipse closest-side, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.3) 35%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.1) 91%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}
.navLogo a {
  position: relative;
  z-index: 2;
  display: flex;
  align-content: center;
  height: 100%;
}
.navLogo a img {
  position: relative;
  width: 50px;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}
.navLogo a .wordsLogo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.navLogo a .wordsLogo span {
  position: relative;
  font-size: 14px;
  font-family: Papyrus, Tahoma, sans-serif;
  text-shadow: 2px 2px 4px black, 2px -2px 4px black, -2px 2px 4px black;
  color: white;
}
.regularNav {
  display: none;
}
.nav-mobile-button {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  color: white;
  border-style: none;
  border: none;
  background-color: rgba(30, 30, 30, 0);
}
.nav-mobile-button:focus {
  outline: none;
}
.nav-mobile-button span {
  position: relative;
  display: block;
  margin: auto;
  width: 24px;
  height: 4px;
  background-color: white;
  transform: rotate(180deg);
  border-radius: 2px;
  transition: ease-in-out 500ms;
}
.nav-mobile-button span:before,
.nav-mobile-button span:after {
  transform-origin: 1.71429px center;
}
.nav-mobile-button span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  transition: all ease 350ms;
  width: 24px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
}
.nav-mobile-button span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  transition: all ease 350ms;
  width: 24px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
}
.swirly {
  transform: rotate(990deg) !important;
}
.swirly:before,
.swirly:after {
  transform-origin: 1.71429px center !important;
  top: 0!important;
  width: 15px!important;
}
.swirly:before {
  transform: rotate3d(0, 0, 1, -40deg) !important;
}
.swirly:after {
  transform: rotate3d(0, 0, 1, 40deg) !important;
}
.mobileNav {
  background-color: #E6E6E6;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 49;
  padding: 80px 0 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(120%);
  overflow: hidden;
  transition: ease-in-out 350ms;
}
.mobileNav li {
  position: relative;
  display: block;
}
.mobileNav li a {
  display: block;
  width: 100%;
  font-size: 24px;
  padding: 17.5px 100px 15px 15px;
  text-decoration: none;
  transition: ease-in-out 350ms;
}
.mobileNav li a:hover {
  background-color: goldenrod;
}
.list-transform {
  transform: translateX(0%);
  transition: ease-in-out 350ms;
}
.back2top {
  position: fixed;
  z-index: 20;
  bottom: 35px;
  right: 35px;
  border-radius: 9px;
  border: 2px solid black;
  background-color: goldenrod;
  transform: translateY(100px);
  transition: ease-in-out 350ms;
  text-align: center;
}
.back2top a {
  display: inline-block;
  height: 50px;
  width: 50px;
  text-decoration: none;
}
.back2top a:before {
  content: '\e316';
  font-family: 'Material Icons';
  color: black;
  font-size: 24px;
  line-height: 50px;
  transition: ease-in-out 250ms;
}
.addtoback2top {
  transform: translateY(0px);
}
@media all and (orientation: portrait) and (max-width: 1199px) and (device-height: 653px) and (device-width: 280px) {
  .navHolder {
    height: 60px;
  }
  .mobileNav {
    padding: 80px 0 0 0;
  }
  .mobileNav li a {
    font-size: 20px;
    padding: 15px 60px 15px 10px;
  }
}
@media all and (orientation: portrait) and (max-width: 1199px) and (min-width: 576px) {
  .contactBar {
    padding: 2.5px 0;
  }
  .contactBar div {
    max-height: 25px;
  }
  .contactBar div span,
  .contactBar div a {
    font-size: 18px;
  }
  .navHolder {
    height: 80px;
  }
  .navLogo {
    padding: 0 20px 0 10px;
  }
  .navLogo a img {
    position: relative;
    width: 70px;
    z-index: 26;
  }
  .navLogo a .wordsLogo span {
    font-size: 18px;
  }
}
@media all and (orientation: portrait) and (max-width: 1199px) and (min-width: 768px) {
  .contactBar {
    padding: 10px 0;
  }
  .contactBar div {
    max-height: 45px;
  }
  .contactBar div span,
  .contactBar div a {
    font-size: 22px;
  }
  .navHolder {
    height: 90px;
    padding: 5px 15px;
  }
  .navLogo a img {
    position: relative;
    width: 80px;
    z-index: 26;
  }
  .navLogo a .wordsLogo span {
    font-size: 20px;
  }
  .mobileNav {
    padding: 130px 0 0 0;
  }
}
@media all and (orientation: portrait) and (max-width: 1199px) and (min-width: 992px) {
  .nav-mobile-button {
    display: none;
  }
  .mobileNav {
    display: none;
  }
  .contactBar {
    padding: 10px 0;
  }
  .contactBar div {
    max-height: 35px;
    font-size: 20px;
  }
  .navHolder {
    height: 110px;
    padding: 10px 15px;
    flex-direction: row;
  }
  .navHolder:hover {
    transition: ease-in-out 350ms;
  }
  .navHolderSquished {
    height: 100px;
    transition: ease-in-out 350ms;
  }
  .navHolderSquished:before {
    opacity: 0;
  }
  .navHolderSquished:after {
    opacity: 1;
  }
  .navHolderSquishedNoLag {
    height: 100px;
  }
  .navHolderSquishedNoLag:before {
    opacity: 0;
  }
  .navHolderSquishedNoLag:after {
    opacity: 1;
  }
  .navLogo a img {
    width: 100px;
  }
  .navLogo a .wordsLogo span {
    font-size: 22.5px;
  }
  .regularNav {
    position: relative;
    flex: 0 0 60%;
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
  }
  .regularNav li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .regularNav li a {
    position: relative;
    font-size: 17px;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 4px black, 2px -2px 4px black, -2px 2px 4px black;
  }
  .regularNav li a:before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 100%;
    height: 3px;
    display: inline-block;
    transition: ease-in-out 250ms;
    background: white;
  }
  .regularNav li a:hover:before {
    right: 0;
  }
}
@media all and (orientation: landscape) and (max-width: 1199px) and (min-width: 568px) {
  .contactBar {
    padding: 2.5px 0;
  }
  .contactBar div {
    max-height: 25px;
  }
  .contactBar div span {
    font-size: 18px;
  }
  .navHolder {
    height: 60px;
  }
  .navLogo {
    padding: 0 20px 0 5px;
  }
  .navLogo a img {
    position: relative;
    width: 60px;
    z-index: 26;
  }
  .navLogo a .wordsLogo span {
    font-size: 15px;
  }
  .mobileNav {
    padding: 80px 0 0 0;
  }
  .mobileNav li a {
    font-size: 20px;
    padding: 10px 100px 10px 15px;
  }
}
@media all and (orientation: landscape) and (max-width: 1199px) and (device-width: 653px) and (device-height: 280px) {
  .navHolder {
    height: 60px;
  }
  .mobileNav {
    padding: 85px 0 0 0;
  }
  .mobileNav li a {
    font-size: 17px;
    padding: 10px 100px 10px 10px;
  }
}
@media all and (orientation: landscape) and (max-width: 1199px) and (min-width: 700px) and (min-height: 400px) {
  .navHolder {
    height: 75px;
    padding: 0 15px;
  }
  .navLogo a img {
    position: relative;
    width: 80px;
    z-index: 26;
  }
  .navLogo a .wordsLogo span {
    font-size: 20px;
  }
  .mobileNav {
    padding: 105px 0 0 0;
  }
  .mobileNav li a {
    font-size: 20px;
    padding: 15px 100px 15px 13px;
  }
}
@media all and (orientation: landscape) and (max-width: 1199px) and (min-width: 992px) {
  .nav-mobile-button {
    display: none;
  }
  .mobileNav {
    display: none;
  }
  .contactBar {
    padding: 10px 0;
  }
  .contactBar div {
    max-height: 35px;
    font-size: 20px;
  }
  .navHolder {
    height: 110px;
    padding: 10px 15px;
    flex-direction: row;
  }
  .navHolder:hover {
    transition: ease-in-out 350ms;
  }
  .navHolderSquished {
    height: 100px;
    transition: ease-in-out 350ms;
  }
  .navHolderSquished:before {
    opacity: 0;
  }
  .navHolderSquished:after {
    opacity: 1;
  }
  .navHolderSquishedNoLag {
    height: 100px;
  }
  .navHolderSquishedNoLag:before {
    opacity: 0;
  }
  .navHolderSquishedNoLag:after {
    opacity: 1;
  }
  .navLogo a img {
    width: 100px;
  }
  .navLogo a .wordsLogo span {
    font-size: 22.5px;
  }
  .regularNav {
    position: relative;
    flex: 0 0 60%;
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
  }
  .regularNav li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .regularNav li a {
    position: relative;
    font-size: 17px;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 4px black, 2px -2px 4px black, -2px 2px 4px black;
  }
  .regularNav li a:before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 100%;
    height: 3px;
    display: inline-block;
    transition: ease-in-out 250ms;
    background: white;
  }
  .regularNav li a:hover:before {
    right: 0;
  }
}
@media (min-width: 1200px) {
  .nav-mobile-button {
    display: none;
  }
  .mobileNav {
    display: none;
  }
  .contactBar {
    padding: 10px 0;
    max-height: 35px;
  }
  .contactBar div {
    font-size: 22px;
  }
  .contactBar div span {
    padding-right: 15px;
  }
  .contactBar div a {
    padding-left: 15px;
  }
  .navHolder {
    height: 125px;
    margin-bottom: 5px;
    padding: 0 20px;
    flex-direction: row;
    background: linear-gradient(to bottom, rgba(90, 90, 90, 0.2) 0%, rgba(70, 70, 70, 0.2) 40%, rgba(50, 50, 50, 0.2) 64%, rgba(30, 30, 30, 0.2) 90%, rgba(30, 30, 30, 0) 100%);
  }
  .navHolder:hover {
    transition: ease-in-out 350ms;
  }
  .navHolderSquished {
    height: 110px;
    padding: 0 15px;
    transition: ease-in-out 350ms;
  }
  .navHolderSquished:before {
    opacity: 0;
  }
  .navHolderSquished:after {
    opacity: 1;
  }
  .navHolderSquishedNoLag {
    height: 110px;
    padding: 0 15px;
  }
  .navHolderSquishedNoLag:before {
    opacity: 0;
  }
  .navHolderSquishedNoLag:after {
    opacity: 1;
  }
  .navLogo a img {
    width: 125px;
  }
  .navLogo a .wordsLogo span {
    font-size: 25px;
  }
  .regularNav {
    position: relative;
    flex: 0 0 60%;
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
  }
  .regularNav li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .regularNav li a {
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 4px black, 2px -2px 4px black, -2px 2px 4px black;
  }
  .regularNav li a:before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 100%;
    height: 3px;
    display: inline-block;
    transition: ease-in-out 250ms;
    background: white;
  }
  .regularNav li a:hover:before {
    right: 0;
  }
}
@media (min-width: 1600px) {
  .navLogo a img {
    width: 112.5px;
  }
  .navLogo a .wordsLogo span {
    font-size: 25px;
  }
  .regularNav li a {
    font-size: 22.5px;
  }
}
.contactBarGoAway {
  padding: 0;
  max-height: 0px;
  transition: ease-in-out 350ms;
}
.contactBarGoAwayNoLag {
  display: none;
}
#make-a-thing-behind-reg-nav {
  display: block;
  width: 100%;
  height: auto;
  background-color: black;
}
.contactUs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 12.5% 125px;
}
.contactUs h2 {
  width: 100%;
  padding: 15px 0;
  border-bottom: 2px solid black;
}
.contactUs .contactInfo {
  max-width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 30px 0 0;
}
.contactUs .contactInfo ul {
  flex: 0 0 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  order: 2;
}
.contactUs .contactInfo ul li {
  font-size: 16px;
}
.contactUs .contactInfo ul .phoneCont {
  position: relative;
}
.contactUs .contactInfo ul .phoneCont .phoneInner:after {
  content: "\e0cd";
  position: absolute;
  left: -30px;
  top: 50%;
  margin-top: -10px;
  bottom: auto;
  font-size: 20px;
  color: black;
  transform: rotate(-90deg);
}
.contactUs .contactInfo ul .faxCont {
  position: relative;
}
.contactUs .contactInfo ul .faxCont .faxInner:after {
  content: "\e8ad";
  position: absolute;
  left: -30px;
  top: 50%;
  margin-top: -10px;
  bottom: auto;
  font-size: 20px;
  color: black;
}
.contactUs .contactInfo ul .emailCont {
  position: relative;
}
.contactUs .contactInfo ul .emailCont .emailInner:after {
  content: "\e0be";
  position: absolute;
  left: -30px;
  top: 50%;
  margin-top: -9px;
  bottom: auto;
  font-size: 20px;
  color: black;
}
.contactUs .contactInfo p {
  padding: 0 0 35px 0;
  font-size: 16px;
  order: 1;
}
.contactUs .findUs {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  text-align: center;
}
.contactUs .findUs a span {
  position: relative;
  color: black;
  text-align: center;
}
.contactUs .findUs a div {
  text-align: center;
}
.contactUs .findUs a div:after {
  content: "\e316";
  display: block;
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -17.5px;
  transform: rotate(180deg);
  font-size: 35px;
  text-align: center;
}
@media (min-width: 576px) {
  .contactUs {
    padding: 50px 12.5% 115px;
  }
}
@media (min-width: 768px) {
  .contactUs {
    padding: 60px 12.5% 125px;
  }
  .contactUs .contactInfo ul {
    flex: 0 0 50%;
    order: 1;
  }
  .contactUs .contactInfo ul li {
    font-size: 20px;
  }
  .contactUs .contactInfo p {
    flex: 0 0 50%;
    font-size: 20px;
    order: 2;
  }
}
@media (min-width: 992px) {
  .contactUs {
    padding: 90px 12.5% 150px;
  }
}
@media (min-width: 1200px) {
  .contactUs {
    flex-wrap: wrap;
  }
  .contactUs h2 {
    padding: 15px 10px;
  }
  .contactUs .contactInfo {
    flex-wrap: nowrap;
  }
  .contactUs .contactInfo ul {
    flex: 0 0 50%;
  }
  .contactUs .contactInfo ul li {
    font-size: 18px;
  }
  .contactUs .contactInfo ul li .phoneNFax {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .contactUs .contactInfo ul li .phoneNFax .phone {
    position: relative;
  }
  .contactUs .contactInfo ul li .phoneNFax .phone:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3px;
    background-color: black;
  }
  .contactUs .contactInfo p {
    font-size: 18px;
  }
}
.map {
  display: block;
  width: 100%;
  height: 75vh;
  max-height: 800px;
  background-color: grey;
}
.bottomNav {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  background: black;
  padding: 5% 5% 2.5%;
  color: white;
}
.bottomNav > div {
  position: relative;
  flex: 0 0 75%;
  padding: 15px 5px;
  display: block;
  text-align: center;
  margin-bottom: 25px;
}
.bottomNav > div h5 {
  font-size: 18px;
}
.bottomNav > div ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.bottomNav > div ul li {
  font-size: 14px;
}
.bottomNav > div ul li a {
  text-decoration: none;
  color: white;
}
.bottomNav > div ul li a:hover {
  color: lightgray;
}
.bottomNav > div .logosholder {
  position: relative;
  padding: 5px 0;
  text-align: center;
}
.bottomNav > div .logosholder a {
  display: inline-block;
  width: 45px;
  padding-top: 10px;
  margin: 0 5px;
}
.bottomNav > div .logosholder a img {
  width: 100%;
  border-radius: 30%;
}
.bottomNav #sec1 {
  display: none;
}
.bottomNav #sec2 {
  order: 3;
}
.bottomNav #sec3 {
  order: 2;
}
.bottomNav #sec4 {
  order: 1;
}
.copyright-box {
  background: black;
  color: white;
  padding: 0 0 0 10px;
}
.copyright-box span {
  font-size: 12px;
}
.copyright-box #copyright {
  padding-right: 5px;
  margin-right: 5px;
}
@media (min-width: 400px) {
  .bottomNav > div h5 {
    font-size: 20px;
  }
  .bottomNav > div ul li {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .bottomNav > div {
    flex: 48%;
  }
  .bottomNav > div h5 {
    font-size: 28px;
  }
  .bottomNav > div ul li {
    font-size: 20px;
    padding: 1px 0;
  }
  .copyright-box span {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .bottomNav {
    justify-content: space-between;
    min-height: 250px;
  }
  .bottomNav > div {
    flex: 0 0 25%;
    text-align: left;
  }
  .bottomNav > div h5 {
    font-size: 24px;
  }
  .bottomNav > div ul li {
    font-size: 16px;
    padding: 1.5px 0;
  }
  .bottomNav > div ul li a {
    font-size: 16px;
  }
  .bottomNav > div .logosholder {
    padding: 1px 0;
    text-align: left;
  }
  .bottomNav > div .logosholder a {
    padding: 10px 0 0;
    margin: 0 10px 0 0;
  }
  .bottomNav #sec1 {
    display: none;
    order: 1;
  }
  .bottomNav #sec2 {
    order: 2;
  }
  .bottomNav #sec3 {
    order: 3;
  }
  .bottomNav #sec4 {
    order: 1;
    flex: 48%;
    margin: 0;
    padding: 15px 0px;
  }
  .bottomNav #sec4 ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .bottomNav #sec4 ul li {
    flex: 50%;
  }
  .bottomNav .copyright-box span {
    font-size: 12px;
  }
}
