.heroImageHolder {
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
}
.heroImageHolder .colorOverImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background-color: rgba(30, 30, 30, 0.3);
}
.heroImageHolder img {
  position: relative;
  z-index: 19;
  filter: blur(0.5px);
}
.heroImageHolder .heroWords {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: 25;
  padding: 20px;
  text-shadow: 0px 0px 10px #000000;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px 25px rgba(0, 0, 0, 0.4);
}
.heroImageHolder .heroWords span {
  position: relative;
  font-size: 20px;
  line-height: 27.5px;
}
.heroImageHolder .heroWords p {
  position: relative;
  font-size: 15px;
  line-height: 24px;
  margin-top: 15px;
}
.heroImageHolder .heroWords a {
  position: relative;
  text-decoration: none;
  color: white;
  transition: 200ms;
}
.heroImageHolder .heroWords a:before {
  content: "";
  position: absolute;
  display: block;
  bottom: -3px;
  left: 0;
  height: 3px;
  right: 100%;
  background-color: white;
  opacity: 0;
  transition: ease-in-out 200ms;
}
.heroImageHolder .heroWords a:hover:before {
  opacity: 1;
  right: 0;
}
@media (max-width: 991px) {
  .heroImageHolder {
    background-image: url(/img/mainHeroMaybe.jpeg);
    background-position: 75%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .heroImageHolder img {
    max-height: 800px;
    opacity: 0;
  }
}
@media (max-width: 767px) {
  .heroImageHolder img {
    max-height: 700px;
  }
}
@media (max-width: 399px) {
  .heroImageHolder img {
    max-height: 600px;
  }
}
@media (min-width: 400px) {
  .heroImageHolder .heroWords {
    padding: 0 35px;
  }
  .heroImageHolder .heroWords span {
    font-size: 23px;
    line-height: 30px;
  }
  .heroImageHolder .heroWords p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 18px;
  }
}
@media (min-width: 576px) {
  .heroImageHolder .heroWords {
    padding: 0 35px;
  }
  .heroImageHolder .heroWords span {
    font-size: 28px;
    line-height: 35px;
  }
  .heroImageHolder .heroWords p {
    font-size: 20px;
    line-height: 28px;
    margin-top: 35px;
  }
}
@media (min-width: 768px) {
  .heroImageHolder .heroWords {
    padding: 40px;
  }
  .heroImageHolder .heroWords span {
    font-size: 32px;
    line-height: 40px;
  }
  .heroImageHolder .heroWords p {
    font-size: 22px;
    line-height: 35px;
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .heroImageHolder {
    background-image: none;
  }
  .heroImageHolder img {
    width: 100%;
    opacity: 1;
  }
  .heroImageHolder .heroWords {
    top: 25%;
    left: 6%;
    bottom: auto;
    right: auto;
    display: block;
    width: 38%;
    padding: 35px 25px 35px 15px;
    text-align: left;
  }
  .heroImageHolder .heroWords span {
    font-size: 22px;
  }
  .heroImageHolder .heroWords p {
    font-size: 15.5px;
    line-height: 28.5px;
  }
}
@media (min-width: 1200px) {
  .heroImageHolder .heroWords {
    padding: 20px 15px 20px 12.5px;
  }
  .heroImageHolder .heroWords p {
    margin-top: 15px;
  }
  .heroImageHolder .heroWords a {
    font-size: 18px;
  }
}
@media (min-width: 1600px) {
  .heroImageHolder .heroWords {
    width: 42%;
  }
  .heroImageHolder .heroWords span {
    font-size: 37px;
    line-height: 45px;
  }
  .heroImageHolder .heroWords p {
    font-size: 25px;
    line-height: 34px;
  }
}
