.projectsGalleryGrid {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  z-index: 2;
}
.projectsGalleryGrid > div {
  flex: 0 0 25%;
  height: 250px;
  position: relative;
  overflow: hidden;
}
.projectsGalleryGrid > div > img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: scale(1.25);
}
.projectsGalleryGrid > div .seen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  transition: ease-in-out 250ms;
}
.projectsGalleryGrid > div .seen h6 {
  text-align: center;
  padding: 10px 0;
  opacity: 0;
  transition: ease-in-out 250ms;
}
.projectsGalleryGrid > div .seen span {
  text-align: center;
  padding: 7.5px 25px;
  background-color: goldenrod;
  border: 3px solid white;
  color: white;
  text-decoration: none;
  opacity: 0;
  transition: ease-in-out 250ms;
  cursor: pointer;
}
.projectsGalleryGrid > div .seen:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.projectsGalleryGrid > div .seen:hover h6 {
  opacity: 1;
}
.projectsGalleryGrid > div .seen:hover span {
  opacity: 1;
}
.projectsGalleryGrid > div .notSeenData {
  display: none;
}
.imagePopupCont {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  opacity: 0;
  transition: ease-in-out 350ms;
}
.imagePopupCont .imagePopup {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 5%;
  width: 100%;
  height: 100%;
  transition: ease-in-out 350ms;
}
.imagePopupCont .imagePopup a {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 5px;
  background-color: black;
}
.imagePopupCont .imagePopup > div {
  position: relative;
  flex: 0 0 65%;
  padding: 25px 0;
  z-index: 1;
  text-align: right;
}
.imagePopupCont .imagePopup > div img {
  max-width: 100%;
  max-height: 80vh;
  border: 3px solid white;
}
.imagePopupCont .imagePopup .jobInfo {
  flex: 0 0 30%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.imagePopupCont .imagePopup .jobInfo span {
  padding: 0 2.5px 5px 2.5px;
  color: white;
}
.imagePopIn {
  z-index: 99;
  opacity: 1;
  transition: ease-in-out 350ms;
}
