@media (min-width: 1200px) {
  .projectsGalleryGrid {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    z-index: 2;
  }
  .projectsGalleryGrid > div {
    flex: 0 0 25%;
    height: 250px;
    position: relative;
    overflow: hidden;
  }
  .projectsGalleryGrid > div > img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: scale(1.25);
  }
  .projectsGalleryGrid > div .seen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    transition: ease-in-out 250ms;
  }
  .projectsGalleryGrid > div .seen h6 {
    text-align: center;
    padding: 10px 0;
    opacity: 0;
    transition: ease-in-out 250ms;
  }
  .projectsGalleryGrid > div .seen span {
    text-align: center;
    padding: 7.5px 25px;
    background-color: goldenrod;
    border: 3px solid white;
    color: white;
    text-decoration: none;
    opacity: 0;
    transition: ease-in-out 250ms;
    cursor: pointer;
  }
  .projectsGalleryGrid > div .seen:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .projectsGalleryGrid > div .seen:hover h6 {
    opacity: 1;
  }
  .projectsGalleryGrid > div .seen:hover span {
    opacity: 1;
  }
  .projectsGalleryGrid > div .notSeenData {
    display: none;
  }
  .imagePopupCont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity: 0;
    transition: ease-in-out 350ms;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1% 5% 0;
    border: 2px solid blue;
  }
  .imagePopupCont .imagePopup {
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 350ms;
    border: 2px solid yellow;
    width: 100%;
  }
  .imagePopupCont .imagePopup > span {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 5px;
    background-color: black;
    cursor: pointer;
  }
  .imagePopupCont .imagePopup .mainImage {
    position: relative;
    max-width: 65%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  .imagePopupCont .imagePopup .mainImage > img {
    max-width: 100%;
    max-height: 100%;
    border: 3px solid white;
  }
  .imagePopupCont .imagePopup .jobInfo {
    flex: 0 0 30%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .imagePopupCont .imagePopup .jobInfo span {
    text-align: center;
    padding: 0 2.5px 5px 2.5px;
    color: white;
  }
  .imagePopupCont .jobPhotos {
    align-self: flex-end;
    position: relative;
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 0 10px 0;
  }
  .imagePopupCont .jobPhotos img {
    height: 100%;
    margin: 0 10px;
  }
}
.imagePopIn {
  z-index: 99;
  opacity: 1;
  transition: ease-in-out 350ms;
}
