@media (min-width: 1200px) {
  .projectsGalleryGrid {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    z-index: 2;
  }
  .projectsGalleryGrid > div {
    flex: 0 0 25%;
    height: 250px;
    position: relative;
    overflow: hidden;
  }
  .projectsGalleryGrid > div > img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transform: scale(1.25);
  }
  .projectsGalleryGrid > div .seen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    transition: ease-in-out 250ms;
  }
  .projectsGalleryGrid > div .seen h6 {
    text-align: center;
    padding: 10px 0;
    opacity: 0;
    transition: ease-in-out 250ms;
  }
  .projectsGalleryGrid > div .seen span {
    text-align: center;
    padding: 7.5px 25px;
    background-color: goldenrod;
    border: 3px solid white;
    color: white;
    text-decoration: none;
    opacity: 0;
    transition: ease-in-out 250ms;
    cursor: pointer;
  }
  .projectsGalleryGrid > div .seen:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .projectsGalleryGrid > div .seen:hover h6 {
    opacity: 1;
  }
  .projectsGalleryGrid > div .seen:hover span {
    opacity: 1;
  }
  .projectsGalleryGrid > div .notSeenData {
    display: none;
  }
  .imagePopupCont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity: 0;
    transition: ease-in-out 350ms;
    border: 2px solid green;
  }
  .imagePopupCont .innerCont {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    padding: 1% 5vw 0;
    border: 4px solid yellow;
  }
  .imagePopupCont .innerCont .imagePopup {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 350ms;
    height: 100vh;
    border: 2px solid red;
    padding: 50px 5vw 110px;
  }
  .imagePopupCont .innerCont .imagePopup > span {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 5px;
    background-color: black;
    cursor: pointer;
  }
  .imagePopupCont .innerCont .imagePopup .mainImage {
    position: relative;
    max-width: 80%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  .imagePopupCont .innerCont .imagePopup .mainImage > img {
    max-width: 100%;
    max-height: 100%;
    border: 3px solid white;
  }
  .imagePopupCont .innerCont .imagePopup .jobInfo {
    flex: 0 0 30%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding: 0 10px;
  }
  .imagePopupCont .innerCont .imagePopup .jobInfo span {
    text-align: center;
    padding: 0 2.5px 5px 2.5px;
    color: white;
    font-size: 20px;
  }
  .imagePopupCont .innerCont .jobPhotos {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 0 10px 0;
  }
  .imagePopupCont .innerCont .jobPhotos img {
    height: 100%;
    margin: 0 10px;
    border: 4px solid rgba(218, 165, 32, 0);
  }
  .imagePopupCont .innerCont .arrowLeft,
  .imagePopupCont .innerCont .arrowRight {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    margin-top: -30px;
    width: 4.5%;
    height: 60px;
    color: white;
    font-size: 30px;
    border: 1px solid grey;
    transition: ease-in-out 150ms;
    cursor: pointer;
  }
  .imagePopupCont .innerCont .arrowLeft span,
  .imagePopupCont .innerCont .arrowRight span {
    cursor: pointer;
  }
  .imagePopupCont .innerCont .arrowLeft:hover,
  .imagePopupCont .innerCont .arrowRight:hover {
    border: 1px solid white;
  }
  .imagePopupCont .innerCont .arrowLeft {
    left: 0;
  }
  .imagePopupCont .innerCont .arrowRight {
    right: 0;
  }
}
.imagePopIn {
  z-index: 99;
  opacity: 1;
}
.currentImgWStyle {
  border-color: #daa520 !important;
  transform: scale(1.2);
  transition: ease-in-out 200ms;
}
.lastImg {
  border-color: rgba(218, 165, 32, 0) !important;
  transform: scale(1);
  transition: ease-in-out 200ms;
}
