.teamHeroCont {
  display: block;
  position: relative;
  width: 100%;
  background-image: url(/img/teams-background.jpeg);
  background-position: 67.5%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.teamHeroCont .colorOverImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(30, 30, 30, 0.5);
}
.teamHeroCont > img {
  position: relative;
  z-index: 1;
  opacity: 0;
  max-height: 600px;
}
.teamHeroCont .teamCirclesCont {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.teamHeroCont .teamCirclesCont h3 {
  padding: 0 15% 50px 15%;
  font-size: 25px;
  letter-spacing: 3px;
}
.teamHeroCont .teamCirclesCont .teamCircles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 75px;
}
.teamHeroCont .teamCirclesCont .teamCircles > div > a {
  position: relative;
  height: 90px;
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  text-decoration: none;
  border: 2px solid white;
  transform: rotate(45deg);
}
.teamHeroCont .teamCirclesCont .teamCircles > div > a span {
  position: relative;
  font-size: 12px;
  color: white;
  z-index: 3;
  opacity: 1;
  transform: rotate(-45deg);
  padding: 0 5px;
}
.teamHeroCont .teamCirclesCont .teamCircles > div > a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transform: rotate(-45deg) scale(1.4);
  filter: blur(4px);
}
.teamHeroCont .teamCirclesCont .teamCircles > div > a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.teamHeroCont .teamCirclesCont .teamCircles .rowOfTwo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}
.teamHeroCont .teamCirclesCont .teamCircles .rowOfTwo a {
  margin: 0 11vw;
  background-color: #E6FFFF;
}
.teamHeroCont .teamCirclesCont .teamCircles .surgisPlumb a {
  position: relative;
  background-color: white;
}
.teamHeroCont .teamCirclesCont .teamCircles .surgisPlumb a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/logo5.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(-45deg) scale(1.4);
}
@media (min-width: 400px) {
  .teamHeroCont {
    background-position: 75%;
  }
  .teamHeroCont img {
    max-height: 700px;
  }
  .teamHeroCont .teamCirclesCont h3 {
    padding-bottom: 75px;
  }
  .teamHeroCont .teamCirclesCont .teamCircles > div > a {
    width: 110px;
    height: 110px;
  }
  .teamHeroCont .teamCirclesCont .teamCircles > div > a span {
    font-size: 14px;
  }
}
@media (min-width: 576px) {
  .teamHeroCont {
    background-position: 90%;
  }
}
@media (min-width: 768px) {
  .teamHeroCont {
    background-position: right;
  }
  .teamHeroCont > img {
    max-height: 900px;
    opacity: 0;
  }
  .teamHeroCont .teamCirclesCont h3 {
    font-size: 35px;
    letter-spacing: 4px;
  }
  .teamHeroCont .teamCirclesCont .teamCircles {
    padding-bottom: 100px;
  }
  .teamHeroCont .teamCirclesCont .teamCircles > div > a {
    width: 175px;
    height: 175px;
  }
  .teamHeroCont .teamCirclesCont .teamCircles > div > a span {
    font-size: 24px;
  }
  .teamHeroCont .teamCirclesCont .teamCircles .rowOfTwo a {
    margin: 0 8vw;
  }
}
@media (min-width: 992px) {
  .teamHeroCont {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .teamHeroCont > img {
    display: none;
  }
  .teamHeroCont .teamCirclesCont {
    position: relative;
    padding: 90px 0 250px;
  }
  .teamHeroCont .teamCirclesCont h3 {
    padding: 25px 15% 90px;
  }
  .teamHeroCont .teamCirclesCont .teamCircles {
    padding: 10px 0 25px;
  }
  .teamHeroCont .teamCirclesCont .teamCircles > div {
    margin: -10px 0;
  }
  .teamHeroCont .teamCirclesCont .teamCircles > div a {
    width: 175px;
    height: 175px;
  }
  .teamHeroCont .teamCirclesCont .teamCircles > div a span {
    opacity: 0;
  }
  .teamHeroCont .teamCirclesCont .teamCircles > div a img {
    filter: blur(0px);
  }
  .teamHeroCont .teamCirclesCont .teamCircles > div a:after {
    background: rgba(0, 0, 0, 0.2);
  }
  .teamHeroCont .teamCirclesCont .teamCircles > div a:hover span {
    opacity: 1;
  }
  .teamHeroCont .teamCirclesCont .teamCircles > div a:hover:after {
    background: rgba(0, 0, 0, 0.7);
  }
  .teamHeroCont .teamCirclesCont .teamCircles .rowOfTwo a {
    margin: 0 6vw;
  }
}
@media (min-width: 1200px) {
  .teamHeroCont .teamCirclesCont {
    padding: 75px 0 125px;
    color: white;
  }
  .teamHeroCont .teamCirclesCont h3 {
    padding-bottom: 75px;
    font-size: 40px;
    letter-spacing: 4px;
  }
  .teamHeroCont .teamCirclesCont .teamCircles {
    padding: 10px 0 25px;
  }
  .teamHeroCont .teamCirclesCont .teamCircles > div > a {
    height: 165px;
    width: 165px;
    padding: 5px 15px;
  }
  .teamHeroCont .teamCirclesCont .teamCircles > div > a span {
    font-size: 18px;
    opacity: 0;
    transition: ease-in-out 250ms;
  }
  .teamHeroCont .teamCirclesCont .teamCircles > div > a:after {
    background: rgba(0, 0, 0, 0.1);
    transition: ease-in-out 250ms;
  }
  .teamHeroCont .teamCirclesCont .teamCircles .rowOfTwo {
    justify-content: space-between;
  }
  .teamHeroCont .teamCirclesCont .teamCircles .rowOfTwo a {
    margin: 0 6vw;
  }
}
