.teamProfilesCont {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 150px 150px;
}
.teamProfilesCont .teamProfiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.teamProfilesCont .teamProfiles .profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  padding: 25px 0;
}
.teamProfilesCont .teamProfiles .profile img {
  width: 200px;
  height: 200px;
  margin: 0 35px 0 0;
  border: 2px solid black;
}
.teamProfilesCont .teamProfiles .profile > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.teamProfilesCont .teamProfiles .profile > div span {
  display: block;
  font-size: 20px;
}
.teamProfilesCont .teamProfiles .profile > div p {
  display: block;
  font-size: 16px;
}
