.woman-owned-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    margin: 65px 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .wordsNpopup {
        flex: 0 0 75%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .woman-words {
            flex: 0 0 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
    
            h4 {
                font-weight: 400;
                font-size: 20px;
            }
            p {
                margin-top: 10px;
                font-size: 13px;
                font-weight: 400;
            }
        }
        .hoverPopup {
            flex: 0 0 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 50%;
            padding: 15px 0;
    
            span {
                padding: 7px 25px;
                color: grey;
                font-size: 14px;
                text-decoration: none;
                border: 2px solid grey;
                border-radius: 25px;
                transition: ease-in-out 350ms;
    
                &:hover {
                    opacity: 0;
                }
                &:hover + div {
                    transform: scale(1);
                    opacity: 1;
                }
            }
    
            div {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: grey;
                // background: radial-gradient(ellipse closest-side, rgba(128, 128, 128, 1) 0%, 
                // rgba(128, 128, 128, 0.95) 75%, rgba(128, 128, 128, 0.9) 90%, rgba(128, 128, 128, 0) 100%);
                border-radius: 25px;
                transform: scale(0.1);
                transform-origin: 50% 100%;
                opacity: 0;
                color: white;
                transition: ease-in-out 350ms;
    
    
                -webkit-box-shadow: 0px 0px 15px 15px rgba(128,128,128,1);
                -moz-box-shadow: 0px 0px 15px 15px rgba(128,128,128,1);
                box-shadow: 0px 0px 15px 15px rgba(128,128,128,1);
    
                p {
                    padding: 5px 10px 0;
                    font-size: 13px;
                    line-height: 17px;
                    font-weight: 400;
                }
                a {
                    padding: 7.5px 15px;
                    border-radius: 25px;
                    // margin-bottom: 10px;
                    transition: ease-in-out 350ms;
                    background-color: black;
                    font-size: 14px;
                    color: white;
                    text-decoration: none;
                    border: 2px solid white;
                }
    
                &:hover {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }

    
    .woman-image {
        flex: 0 0 75%;
        margin-bottom: 35px;

        img {
            width: 100%;
            border: 6px solid black;
        }
    }
}

@media (min-width: 400px) {
    .woman-owned-cont {
        .wordsNpopup {
            .hoverPopup {
                padding: 25px 0;

                div {
                    p {
                        padding: 15px 10px 0;
                    }
                }
            }
        }
    }
}
@media (min-width: 576px) {
    .woman-owned-cont {
        .wordsNpopup {
            .woman-words {
                h4 {
                    font-size: 30px;
                } 
                p {
                    margin-top: 20px;
                    font-size: 14px;
                }
            }
            .hoverPopup {
                padding: 25px 0;

                span {
                    font-size: 16px;
                }
                div {
                    border-radius: 25px;

                    p {
                        padding: 15px 20px 0;
                        font-size: 15px;
                        line-height: 20px;
                    }
                    a {
                        padding: 10px 20px;
                    }
                }
            }
        }
        .woman-image {
            margin-bottom: 50px;
        }
    }
}
@media (min-width: 768px) {
    .woman-owned-cont {
        .wordsNpopup {
            flex: 0 0 60%;
            .woman-words {
                h4 {
                    font-size: 30px;
                } 
                p {
                    font-size: 16px;
                }
            }
            .hoverPopup {
                span {
                    padding: 15px 25px;
                    font-size: 18px;
                }
                div {
                    border-radius: 25px;

                    p {
                        padding: 20px 20px 10px;
                        font-size: 16.5px;
                        line-height: 25px;
                    }
                    a {
                        
                        padding: 10px 25px;
                        font-size: 18px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .woman-image {
            margin-bottom: 60px;
            flex: 0 0 45%;
        }
    }
}
@media (min-width: 992px) {
    .woman-owned-cont {
        margin: 110px 20px;
        flex-wrap: nowrap;

        .wordsNpopup {
            flex: 0 0 45%;
            align-self: stretch;
            margin-right: 55px;
            padding: 35px 0 0;
            
            .woman-words {
                h4 {
                    font-size: 32.5px;
                } 
                p {
                    font-size: 18px;
                }
            }
            .hoverPopup {
                padding: 0;
                justify-self: flex-end;

                span {
                    padding: 15px 25px;
                    font-size: 19px;
                }
                div {
                    border-radius: 25px;

                    p {
                        padding: 30px 20px 10px;
                        font-size: 18px;
                        line-height: 26px;
                    }
                    a {
                        padding: 12.5px 25px;
                        font-size: 22px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .woman-image {
            margin-bottom: 0;
            flex: 0 0 35%;
        }
    }
}
@media (min-width: 1200px) {
    .woman-owned-cont {
        margin: 125px 20px;

        .wordsNpopup {
            flex: 0 0 45%;
            margin-right: 75px;

            .woman-words {
                h4 {
                    font-size: 35px;
                    margin-bottom: 20px;
                }
                p {
                    font-size: 17px;
                }
            }
            .hoverPopup {
                min-width: 50%;
        
                span {
                    padding: 15px 25px;
                    color: grey;
                    font-size: 20px;
                    text-decoration: none;
                    border: 2px solid grey;
                    border-radius: 25px;
                    transition: ease-in-out 350ms;
        
                    &:hover {
                        opacity: 0;
                    }
                    &:hover + div {
                        transform: scale(1);
                        opacity: 1;
                    }
                }
        
                div {
                    padding: 50px 25px;
                    border-radius: 50%;
                    transform: scale(0.1);
                    transform-origin: 50% 100%;
                    opacity: 0;
                    transition: ease-in-out 350ms;
        
                    p {
                        padding: 25px 15px 0;
                        font-size: 17px;
                        line-height: 28px;
                    }
                    a {
                        margin-bottom: -20px;
                        padding: 10px 20px;
                        background-color: grey;
                        font-size: 16px;
                        text-decoration: underline;
                        border: 2px solid rgba(255, 255, 255, 0);
                        border-radius: 25px;
                        transition: ease-in-out 350ms;
        
                        &:hover {
                            background-color: black;
                            text-decoration: none;
                            border: 2px solid rgba(255, 255, 255, 1);
                        }
                    }
        
                    &:hover {
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }
        }
    
        
        .woman-image {
            flex: 0 0 32.5%;
    
            img {
                width: 100%;
                border: 6px solid black;
                object-fit: cover;
            }
        }
    }
}
@media (min-width: 1600px) {
    .woman-owned-cont {
        margin: 175px auto;
        max-width: 1600px;
    }
}