.woman-owned-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  margin: 65px 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.woman-owned-cont .wordsNpopup {
  flex: 0 0 75%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.woman-owned-cont .wordsNpopup .woman-words {
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.woman-owned-cont .wordsNpopup .woman-words h4 {
  font-weight: 400;
  font-size: 20px;
}
.woman-owned-cont .wordsNpopup .woman-words p {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
}
.woman-owned-cont .wordsNpopup .hoverPopup {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  padding: 15px 0;
}
.woman-owned-cont .wordsNpopup .hoverPopup span {
  padding: 7px 25px;
  color: grey;
  font-size: 14px;
  text-decoration: none;
  border: 2px solid grey;
  border-radius: 25px;
  transition: ease-in-out 350ms;
}
.woman-owned-cont .wordsNpopup .hoverPopup span:hover {
  opacity: 0;
}
.woman-owned-cont .wordsNpopup .hoverPopup span:hover + div {
  transform: scale(1);
  opacity: 1;
}
.woman-owned-cont .wordsNpopup .hoverPopup div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius: 25px;
  transform: scale(0.1);
  transform-origin: 50% 100%;
  opacity: 0;
  color: white;
  transition: ease-in-out 350ms;
  -webkit-box-shadow: 0px 0px 15px 15px #808080;
  -moz-box-shadow: 0px 0px 15px 15px #808080;
  box-shadow: 0px 0px 15px 15px #808080;
}
.woman-owned-cont .wordsNpopup .hoverPopup div p {
  padding: 5px 10px 0;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
}
.woman-owned-cont .wordsNpopup .hoverPopup div a {
  padding: 7.5px 15px;
  border-radius: 25px;
  transition: ease-in-out 350ms;
  background-color: black;
  font-size: 14px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
}
.woman-owned-cont .wordsNpopup .hoverPopup div:hover {
  transform: scale(1);
  opacity: 1;
}
.woman-owned-cont .woman-image {
  flex: 0 0 75%;
  margin-bottom: 35px;
}
.woman-owned-cont .woman-image img {
  width: 100%;
  border: 6px solid black;
}
@media (min-width: 400px) {
  .woman-owned-cont .wordsNpopup .hoverPopup {
    padding: 25px 0;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup div p {
    padding: 15px 10px 0;
  }
}
@media (min-width: 576px) {
  .woman-owned-cont .wordsNpopup .woman-words h4 {
    font-size: 30px;
  }
  .woman-owned-cont .wordsNpopup .woman-words p {
    margin-top: 20px;
    font-size: 14px;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup {
    padding: 25px 0;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup span {
    font-size: 16px;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup div {
    border-radius: 25px;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup div p {
    padding: 15px 20px 0;
    font-size: 15px;
    line-height: 20px;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup div a {
    padding: 10px 20px;
  }
  .woman-owned-cont .woman-image {
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .woman-owned-cont .wordsNpopup {
    flex: 0 0 60%;
  }
  .woman-owned-cont .wordsNpopup .woman-words h4 {
    font-size: 30px;
  }
  .woman-owned-cont .wordsNpopup .woman-words p {
    font-size: 16px;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup span {
    padding: 15px 25px;
    font-size: 18px;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup div {
    border-radius: 25px;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup div p {
    padding: 20px 20px 10px;
    font-size: 16.5px;
    line-height: 25px;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup div a {
    padding: 10px 25px;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .woman-owned-cont .woman-image {
    margin-bottom: 60px;
    flex: 0 0 45%;
  }
}
@media (min-width: 992px) {
  .woman-owned-cont {
    margin: 110px 20px;
    flex-wrap: nowrap;
  }
  .woman-owned-cont .wordsNpopup {
    flex: 0 0 45%;
    align-self: stretch;
    margin-right: 55px;
    padding: 35px 0 0;
  }
  .woman-owned-cont .wordsNpopup .woman-words h4 {
    font-size: 32.5px;
  }
  .woman-owned-cont .wordsNpopup .woman-words p {
    font-size: 18px;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup {
    padding: 0;
    justify-self: flex-end;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup span {
    padding: 15px 25px;
    font-size: 19px;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup div {
    border-radius: 25px;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup div p {
    padding: 30px 20px 10px;
    font-size: 18px;
    line-height: 26px;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup div a {
    padding: 12.5px 25px;
    font-size: 22px;
    margin-bottom: 15px;
  }
  .woman-owned-cont .woman-image {
    margin-bottom: 0;
    flex: 0 0 35%;
  }
}
@media (min-width: 1200px) {
  .woman-owned-cont {
    margin: 125px 20px;
  }
  .woman-owned-cont .wordsNpopup {
    flex: 0 0 45%;
    margin-right: 75px;
  }
  .woman-owned-cont .wordsNpopup .woman-words h4 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .woman-owned-cont .wordsNpopup .woman-words p {
    font-size: 17px;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup {
    min-width: 50%;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup span {
    padding: 15px 25px;
    color: grey;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid grey;
    border-radius: 25px;
    transition: ease-in-out 350ms;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup span:hover {
    opacity: 0;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup span:hover + div {
    transform: scale(1);
    opacity: 1;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup div {
    padding: 50px 25px;
    border-radius: 50%;
    transform: scale(0.1);
    transform-origin: 50% 100%;
    opacity: 0;
    transition: ease-in-out 350ms;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup div p {
    padding: 25px 15px 0;
    font-size: 17px;
    line-height: 28px;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup div a {
    margin-bottom: -20px;
    padding: 10px 20px;
    background-color: grey;
    font-size: 16px;
    text-decoration: underline;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 25px;
    transition: ease-in-out 350ms;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup div a:hover {
    background-color: black;
    text-decoration: none;
    border: 2px solid #ffffff;
  }
  .woman-owned-cont .wordsNpopup .hoverPopup div:hover {
    transform: scale(1);
    opacity: 1;
  }
  .woman-owned-cont .woman-image {
    flex: 0 0 32.5%;
  }
  .woman-owned-cont .woman-image img {
    width: 100%;
    border: 6px solid black;
  }
}
