.aboutContDiv {
  position: relative;
  display: block;
  text-align: center;
  padding: 15% 10% 10%;
  background-color: black;
  color: white;
}
.aboutContDiv span {
  font-size: 25px;
}
.aboutContDiv p {
  padding: 25px 0 40px 0;
  font-size: 16px;
  line-height: 22px;
}
.aboutContDiv a {
  padding: 10px 25px;
  background-color: white;
  font-size: 16px;
  color: black;
  text-decoration: none;
  transition: ease-in-out 250ms;
  border: 2px solid white;
  border-radius: 25px;
  font-weight: 600;
}
@media (min-width: 400px) {
  .aboutContDiv {
    padding: 20% 10% 15%;
  }
  .aboutContDiv span {
    font-size: 30px;
  }
  .aboutContDiv p {
    padding: 40px 0 60px 0;
    font-size: 18px;
    line-height: 29px;
  }
  .aboutContDiv a {
    padding: 15px 30px;
    font-size: 22.5px;
  }
}
@media (min-width: 576px) {
  .aboutContDiv span {
    font-size: 35px;
  }
  .aboutContDiv p {
    font-size: 22.5px;
    line-height: 32.5px;
  }
  .aboutContDiv a {
    font-size: 25px;
  }
}
@media (min-width: 768px) {
  .aboutContDiv span {
    font-size: 35px;
  }
  .aboutContDiv p {
    font-size: 25px;
    line-height: 35px;
  }
  .aboutContDiv a {
    font-size: 27.5px;
  }
}
@media (min-width: 992px) {
  .aboutContDiv {
    padding: 10% 15% 5%;
  }
  .aboutContDiv a {
    background-color: #000000;
    color: white;
    border: 2px solid white;
  }
  .aboutContDiv a:hover {
    background-color: white;
    color: black;
  }
}
@media (min-width: 1200px) {
  .aboutContDiv span {
    font-size: 30px;
  }
  .aboutContDiv p {
    font-size: 16px;
  }
  .aboutContDiv a {
    font-size: 20px;
  }
}
