.bottomNav {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  background: black;
  padding: 5% 5% 2.5%;
  color: white;
}
.bottomNav > div {
  position: relative;
  flex: 0 0 75%;
  padding: 15px 5px;
  display: block;
  text-align: center;
  margin-bottom: 25px;
}
.bottomNav > div h5 {
  font-size: 18px;
}
.bottomNav > div ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.bottomNav > div ul li {
  font-size: 14px;
}
.bottomNav > div ul li a {
  text-decoration: none;
  color: white;
}
.bottomNav > div ul li a:hover {
  color: lightgray;
}
.bottomNav > div .logosholder {
  position: relative;
  padding: 5px 0;
  text-align: center;
}
.bottomNav > div .logosholder a {
  display: inline-block;
  width: 45px;
  padding-top: 10px;
  margin: 0 5px;
}
.bottomNav > div .logosholder a img {
  width: 100%;
  border-radius: 30%;
}
.bottomNav #sec1 {
  display: none;
}
.bottomNav #sec2 {
  order: 3;
}
.bottomNav #sec3 {
  order: 2;
}
.bottomNav #sec4 {
  order: 1;
}
.copyright-box {
  background: black;
  color: white;
  padding: 0 0 0 10px;
}
.copyright-box span {
  font-size: 12px;
}
.copyright-box #copyright {
  padding-right: 5px;
  margin-right: 5px;
}
@media (min-width: 400px) {
  .bottomNav > div h5 {
    font-size: 20px;
  }
  .bottomNav > div ul li {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .bottomNav > div {
    flex: 48%;
  }
  .bottomNav > div h5 {
    font-size: 28px;
  }
  .bottomNav > div ul li {
    font-size: 20px;
    padding: 1px 0;
  }
  .copyright-box span {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .bottomNav {
    justify-content: space-between;
    min-height: 250px;
  }
  .bottomNav > div {
    flex: 0 0 25%;
    text-align: left;
  }
  .bottomNav > div h5 {
    font-size: 24px;
  }
  .bottomNav > div ul li {
    font-size: 16px;
    padding: 1.5px 0;
  }
  .bottomNav > div ul li a {
    font-size: 16px;
  }
  .bottomNav > div .logosholder {
    padding: 1px 0;
    text-align: left;
  }
  .bottomNav > div .logosholder a {
    padding: 10px 0 0;
    margin: 0 10px 0 0;
  }
  .bottomNav #sec1 {
    display: none;
    order: 1;
  }
  .bottomNav #sec2 {
    order: 2;
  }
  .bottomNav #sec3 {
    order: 3;
  }
  .bottomNav #sec4 {
    order: 1;
    flex: 48%;
    margin: 0;
    padding: 15px 0px;
  }
  .bottomNav #sec4 ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .bottomNav #sec4 ul li {
    flex: 50%;
  }
  .bottomNav .copyright-box span {
    font-size: 12px;
  }
}
