.teamHeroCont {
    display: block;
    position: relative;
    width: 100%;
    background-image: url(/img/teams-background.jpeg);
    background-position: 67.5%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    .colorOverImage {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background-color: rgba(30, 30, 30, 0.5);
    }
    >img {
        position: relative;
        z-index: 1;
        opacity: 0;
        max-height: 600px;
    }

    .teamCirclesCont {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;


        color: white;

        h3 {
            padding: 0 15% 50px 15%;
            font-size: 25px;
            letter-spacing: 3px;
        }
        .teamCircles {
            display: grid;
            grid-template-rows: repeat(3, 87.5px);
            grid-template-columns: repeat(3, 87.5px);
            max-width: 100%;
            padding: 40px 15px 75px;

            .person {
                transform: rotate(45deg);
                outline: 2px solid white;
                overflow: hidden;
                a {
                    position: relative;
                    text-decoration: none;
                    transform: rotate(-45deg) scale(1.45);
                    display: block;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    span {
                        position: relative;
                        top: 0;
                        left: 0;
                        z-index: 3;
                        font-size: 10px;
                        color: white;
                        padding: 10px;
                        transition: 200ms ease-in-out;
                    }
                    img {
                        position: absolute;
                        top: 0%;
                        left: 0%;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                        z-index: 1;
                        filter: blur(4px);
                        transition: 200ms ease-in-out;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        display: block;
                        background: rgba(0, 0, 0, 0.7);
                        z-index: 2;
                        transition: 200ms ease-in-out;
                    }
                }
            }
            .pTop {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 1;
            }
            .pMidLeft {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 2;
            }
            .pMidRight {
                grid-column-start: 3;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
            }
            .pBottom {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 3;
            }
        }
    }
}


@media (min-width: 400px) {
    .teamHeroCont {
        background-position: 75%;

        img {
            max-height: 700px;
        }
        .teamCirclesCont {
            h3 {
                padding-bottom: 75px;
            }
            .teamCircles {
                grid-template-rows: repeat(3, 110px);
                grid-template-columns: repeat(3, 110px);
                padding: 30px 0 75px;
                .person {
                    >a {
                        span {
                            padding: 10px 15px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 576px) {
    .teamHeroCont {
        background-position: 90%;
    }
}
@media (min-width: 768px) {
    .teamHeroCont {
        background-position: right;

        >img {
            max-height: 900px;
            opacity: 0;
        }
        .teamCirclesCont {
            h3 {
                font-size: 35px;
                letter-spacing: 4px;
            }

            .teamCircles {
                padding: 50px 15px 80px;
                grid-template-rows: repeat(3, 150px);
                grid-template-columns: repeat(3, 150px);

                .person {
                    >a {
                        span {
                            padding: 10px 20px;
                            font-size: 17px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) {
    .teamHeroCont {
        position: relative;
        width: 100%;
        text-align: center;


        >img {
            display: none;
        }

        .teamCirclesCont {
            position: relative;
            padding: 90px 0 250px;

            h3 {
                padding: 25px 15% 90px;
            }
            .teamCircles {
                padding: 10px 0 25px;
                grid-template-rows: repeat(3, 175px);
                grid-template-columns: repeat(3, 175px);

                .person {
                    // margin: -10px 0;
                    a {
                        span {
                            opacity: 0;
                        }
                        img {
                            filter: blur(0px);
                        }
                        &:after {
                            background: rgba(0, 0, 0, 0.2);
                        }
                        &:hover {
                            span {
                                opacity: 1;
                            }
                            img {
                                filter: blur(2px);
                            }
                            &:after {
                                background: rgba(0, 0, 0, 0.7);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .teamHeroCont {
        .teamCirclesCont {
            padding: 75px 0 125px;
            color: white;

            h3 {
                padding-bottom: 75px;
                font-size: 40px;
                letter-spacing: 4px;
            }
            .teamCircles {

                .person {
                    a {
                        span {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}